.workBlock {
  width: 420px;
  height: 580px;
  background-color: white;
  padding: 16px 26px;
  margin: 10px auto auto auto;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.workTitle {
  text-align: center;
  font-size: 22px;
}

.workBar {
  border-bottom: 2px solid #a5a5a5;
  margin: 26px 80px;
}

.workBtnAdd {
  text-align: center;
}
